body {
  margin: 0;
  padding: 0;
}

.outer_container {
  background-color: #3a4559;
  width: 100% !important;
  
}
.container {
  display: flex;
  justify-content: space-around;
  width: 75%;
  /* height: 200px;   */

  margin: 0 auto;
  padding: 40px 0 30px;
  color: #ffffff39;
}
.container a {
  color: #ffffff39;
  text-decoration: none;
}
.container a p:hover {
  color: #ffffffcc;
}
.container h2 {
  color: #fff;
  margin: 0;
  font-size: 18px;
  padding-bottom: 10px;
}
.container img {
  width: 180px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.icons {
  display: flex;
  gap: 30px;
}
.container p {
  font-size: 14px;

  margin: 0;
}
.icons svg {
  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
}
.icons svg:hover {
  background-color: #fff;
  color: #000 !important;
}
@media (max-width: 680px) {
  .container {
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    gap: 20px;
    
  }
  .container div{
    /* justify-content: center !important; */
    text-align: center;
  }
}
